*{
font-family: 'Poppins', sans-serif;
margin: 0px;
}

header{
	padding: 20px 0 20px 20px;
	background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);

	}


img{
	width: 70px;
	height: 70px;
	border-radius: 50px;
}

#logo{
	/*font-size: 50px;*/
	width: 70px;
	height: 70px;
	/*background: red;*/
	/*text-align: center;*/
	border-radius: 50px;
	line-height: 100px;
	webkit-border-radius: 50px;
    moz-border-radius: 50px;
    float: left;
}

a{
	text-decoration: none;
	/*border: 2px solid red;*/	
 }

 .navlink{
 	border: 3px solid red;
 	padding: 4px 20px 4px 20px;
 	border-radius: 10px;
 }

 .navlink:hover{
 	border: 3px solid black;
 	padding: 4px 20px 4px 20px;
 	color: blue;
 	background-color: #B2B2FF;
 	border-radius: 10px;
 	box-shadow: 3px 3px #888888;
 }



ul {
 	list-style: none;
 	padding: 0px;
 	margin: 0px;
 }

 nav ul{
 	float: left;
 	padding: 0 0 0 100px;
 }

 nav ul li{
 	float: left;
 	padding: 20px;
 	padding-left: 50px;
 	padding-right: 50px;
 }

#main,{
	background: #ebebeb;
	padding: 50px 0px 0px 50px;
	padding-bottom: 100px;

}

.clearfix{
 clear: both;
}


.article-links-img{

}
.article-links-img:hover{
	
	border: 1px solid blue;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	margin: 25px 0px 0px 32px;
	background-color: #C9A0DC;
	box-shadow: 10px 10px lightblue;
}



.article-links-title{

}
.article-links-title:hover{
	color: purple;
	border: 2px solid blue;
	border-radius: 10px;
	padding: 2px 5px 2px 2px;
	background-color: lightblue;
	box-shadow: 5px 5px lightskyblue;
}

#content{
	margin-left: 200px;
}




.article-links-img{
	height: 300px;
	width: 200px;
	border-radius: 0px;
	padding: 30px 30px 30px 30px;
}

#main .article{
	width: 920px;	
	float: left;
	background: white;
	padding-left: 70px;
	padding-bottom: 100px;
}

#main .sidebar{
	float: right;
	min-height: 500px;
	background: white;
	width: 360px;
	margin-right: 50px;
	padding: 20px;
}

/*#main .sidebar input{
	padding: 10px;
	margin-left: 20px;
}




#main .sidebar input[type="submit"]{
	margin-left: 40px;
	padding-left: 20px;
	padding-right: 20px;
}*/


#main .article .content{
	width: 455px;
	margin-right: 100px;
	padding: 30px 30px 30px 50px;
	float: right;

}

#main .article .bottom >div {
	float: left;
	padding: 0 20px 0 20px;
}


#main .article .bottom {
	color: #36454F;
	padding: 20px 0px;
	float: left;
	width: 90%;
	border: 2px solid gray;
	background: lightgray;


}

#main .article .bottom .comment {

	float: right;
	padding-left: 100px;

}



h2{
	margin-bottom: 5px;
	font-size: 45px;
}

section{
	padding: 10px;
	margin: 20px;
}
section ul li{
	padding-top: 10px;
}

#main .sidebar a{
	text-decoration: underline;
	color:#158ebf;
}

#main .sidebar a:hover{
	text-decoration: underline;
	color: purple;
}

#myreccomendations{
	padding: 30px;
	margin: 20px;
	border: 5px solid blue;
	border-radius: 10px;
	background: linear-gradient(110deg, #00008B 60%, #9F79EE 60%);
	color: white;
	font-family: courier,arial,helvetica;;
}


#rec-info{
	margin-top: 20px;
	margin-bottom: 40px;

}

#rec-button{
	text-align: center;
    vertical-align: middle;
	border: 2px solid orange;
	background-color: yellow;
	padding: 5px;	
	border-radius: 15px;
	
}
#rec-button:hover{
	text-align: center;
    vertical-align: middle;
	border: 2px solid red;
	background-color: orange;
	padding: 5px;	
	border-radius: 15px;
	
}

footer{
	text-align: center;
    vertical-align: middle;
    margin: 20px;
    background: linear-gradient(110deg, #FFD700 60%, #FF8C00 60%);
}


*{
	font-family: sans-serif;
}

.wrapper1{
	border: solid 2px black;
	width: 530px;
	margin: 55px auto;
	padding-bottom: 55px;
	background: linear-gradient(110deg, #00008B 60%, #9F79EE 60%);

}

h1{
	text-align: center;
}


.navlink{
	margin-left: 6px;
	border: 3px solid red;
 	padding: 6px 22px 8px 22px;
 	border-radius: 10px;

}

input, select{
	width: 250px;
	height: 40px;
	font-size: 15px;
	padding-left: 5px;
	margin: 5px;
	box-sizing: border-box;
}

label{
	display: inline-block;
	width: 200px;
	height: 50px;
	font-size: 20px;
	padding-left: 30px;
}

label[for="languages"]
{
	vertical-align: middle;
	line-height: 50px;
}

/*label[for="education"]
{
	padding-left: 200px;
	font-size: 15px;
	width: 10px;
}
input[type="radio"]
{
	font-size: 25px;
	width: 20px;
}*/


.button{
	background-color: deepskyblue;
	border: 3px solid black;
	border-radius: 12px;
}

#languages{
	height: 100px;
	vertical-align: middle;

}

.mtbtn{
	border-radius: 10px;
}
